body {
	font-family: "Helvetica Neue";
}

#thumbs {
	float: left;
	width: auto;
	margin-left: 0;
	margin-right: 210px;
}

div.thumbnail {
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	cursor: pointer;
	color: #bbb;
	font-size: 0.6em;
	text-align: center;
	line-height: 170px;
}

.imagebox {
	width: 130px;
	height: 130px;
}

.detail {
	min-height: 200px;
	width: 200px;
	position: fixed;
	right: 10px;
}
