body {
	font-family: "Helvetica Neue";
	margin: 0;
	padding: 0;
	padding-top: 40px;
	color: #bbb;
	text-align: center;
}

#thumbs {
	float: left;
	width: auto;
	margin-left: 0;
	margin-right: 150px;
}

div.thumbnail {
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	cursor: pointer;
	font-size: 0.6em;
}

div.thumbnail span {
	display: block;
	margin-top: 80px;
	top: auto;
}

.imagebox {
	width: 130px;
	height: 130px;
	position: relative;
}

.imagebox img {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.detail {
	width: 130px;
	position: fixed;
	right: 10px;
}

#searchbar {
	background-color: #eee;
	padding: 10px;
	position: fixed;
	width: 100%;
	top: 0;
}

#search {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
}